{
  "requirePragma": false,
  "arrowParens": "always",
  "bracketSpacing": true,
  "embeddedLanguageFormatting": "auto",
  "endOfLine": "auto",
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "printWidth": 150,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "semi": false,
  "useTabs": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "vueIndentScriptAndStyle": false
}
